/***** Import text font ****/
@import url('https://fonts.googleapis.com/css?family=Raleway');

/***** Static sizes *****/

.featured-work-section {
	font-family: "Raleway", sans-serif;
	text-align: center;
}

.featured-work-label {
	padding-top: 30px;
	opacity: .9;
    letter-spacing: 2px;
    font-size: 1.3em;
    color: #819bb1;
}

.featured-work-list {
	margin-top: 0;
	margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}