@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/***** Smartphone sizes *****/

/* Landscape & Portait */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.header-wrapper {
		text-align: center;
	}

	.position-header {
		padding: 0;
	}
}

/* Landscape */
@media only screen and (min-width : 321px) {
	.header-wrapper {
		text-align: center;
	}

	.position-header {
		padding: 0;
	}
}


/***** Desktop sizes *****/

@media only screen and (min-width: 600px) {
	.header-wrapper {
		text-align: right;
		width: 100%;
		padding-right: 15px;
	}

	.position-header {
		padding-left: 85px;
	}
}


/***** Static sizes *****/

.header-wrapper {
    font-family: "Poiret One", cursive;
    font-weight: normal;
    text-transform: uppercase;
	color: #2d3c49;
}	

.name-header {
	margin-bottom: 0;
	padding-bottom: 5px;
	letter-spacing: .5px;
}

.position-header {
	font-size: 1em;
	margin-top: 0;
	letter-spacing: .5px;
	font-family: "Raleway", san-serif;
}