
/***** Static sizes *****/

body {
  margin: 0;
}

.porfolio-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.section-border {
  margin: 10px 0;
  display: flex;
  border-bottom: 2px #7d97ad solid;
}

#personal-image {
  align-self: center;
  width: 80%;
}

/***** Styling overrides *****/
@media only screen and (min-width: 600px) {
  #personal-image {
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  #personal-image {
    width: 30%;
  }
}