/***** Smartphone sizes *****/

/* Portrait & Landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .porfolio-wrapper {
    width: 100%;
    margin: 0;
  }

  .main-image-wrapper {
    padding: 25px;
    width: 75%;
  }

  .main-image {
    height: 300px;
    width: 300px;
  }
}

/* Landscape */
@media only screen and (min-width : 321px) {
  .porfolio-wrapper {
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .main-image-wrapper {
    padding: 25px;
  }
}


/***** Static sizes *****/

.porfolio-wrapper {
  display: inline-flex;
  flex-flow: column wrap;
  width: 90%;
}

.section-border {
  width: 90%;
	border-bottom: 2px #7d97ad solid;
}